<body style="background-color:gold; width: 100%">
	<h1 style="color:green; width:100%">Add New User</h1>
	<form action="SaveServlet" method="post">
		<table>
			<tr><td>Name:</td><td><input type="text" name="name"/></td></tr>
			<tr><td>Password:</td><td><input type="password" name="password"/></td></tr>
			<tr><td>Email:</td><td><input type="email" name="email"/></td></tr>
			<tr><td>Country:</td>
				<td><select name="country" style="width:150px">
						<option value="">Select One</option>
						<option value="India">India</option>
						<option value="USA">USA</option>
						<option value="UK">UK</option>
						<option value="Other">Other</option>
					</select></td>
			</tr>
			<tr><td colspan="2"><input type="submit" value="Save User"/></td></tr>
		</table>
	</form><br/>
	<h1><a href="ViewServlet">View User</a></h1>
</body>